.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background-color: lightskyblue;

}

.main {
  background-color: lightgrey;
  display: grid;
  grid-template-rows: 1fr 2fr 9fr;
}

.content {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
  width: 100%;
}

.event-wrapper {
  border: 1px solid red;
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr;
}